<div class="bar bar-header bar-light" style="height: 45px;background-color: rgba(0,0,0,0)">
    <div style="width: 100%; text-align: left">
        <button class="button button-icon icon ion-arrow-left-c" ng-click="goBack()" />
    </div>
    <div style="width: 100%; text-align: right">
		<button class="button button-balanced button-medium icon ion-android-checkmark" style="margin-left: 8px;" ng-click="saveCanvasToFile()"/>
		<button class="button button-positive button-medium icon ion-android-share" style="margin-left: 8px;"  ng-click="sharePicure()"/>
    </div>
</div>

<div id="filteredCanvas"  style="position: absolute; bottom: 70px; top: 45px; left: 0px; right: 0px">
    <img id="filteredContainer">
</div>

<div class="bar bar-footer bar-light" style="position: absolute; bottom: 0px; left: 0px; right: 0px; height: 70px">
    <carouselfilters path="data/filters.json" filterAction="filterAction()"><!--data from json--></carouselfilters>
</div>